
/* *{
    padding:0;
    margin: 0;
} */
.speech{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.stage-direction{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: lightslategrey;
}
.name{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.stage-direction:hover{
    background-color: lightcyan;
    color: #123456;
}

.shylock{
    color: salmon;
}
.salarino{
     color: slateblue;
}
.antonio{
    color: aquamarine;
}
.gaoler{
    color: goldenrod;
}
table{
    text-align: center;
    width: 50%;
    margin: auto;
}
table,td,th{
    border: 3px solid brown;
    border-collapse: collapse;
}
td,th{
    padding: 10px;

}
th{
    background-color: rgb(88, 114, 114);
    text-decoration: underline;
    color: whitesmoke;
    font-size: large;
}
td{
    color: rebeccapurple;
    margin: 1px;
}
tr:nth-child(even){
    background-color: lightgrey
}

.name:hover{
    text-shadow: 1px 15px 5px black;
    border-radius: 5px;
    padding: 15px;
    border-top: 2px solid #123456;
    border-left: 10px solid #123456;
    border-right: 10px solid #123455;
    border-bottom-width: 50px;
    border-bottom-style: ridge;
    border-bottom: 2px solid black;

}
img{
    width:500px;
    height:300px;
    margin-left: 40px;
    border-radius: 15px;
}
img:hover{
    transition: transform 2s;
    transform: scaleX(1.1);
    /* transform: rotate(360deg); */
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.navbar li{
    float: left;
   
    /* padding: 2px; */
    background: rgb(61, 141, 61);
}
.navbar a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}
.fa{
    margin-right:2px;
}
.navbar a:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 2px;
}